DATABASE_URL="postgres://myapp:{{ postgres_password }}@{{ groups[myapp_env + '-myapp-services'][0]  }}/myapp_{{ myapp_env }}"
REDIS_URL="redis://{{ groups[myapp_env + '-myapp-services'][0]  }}/"
SECRET_KEY_BASE={{ SECRET_KEY_BASE }}
RAILS_ENV={{ RAILS_ENV }}